@font-face {
    font-family: myFont;
    src: url('font/AbrilFatface-Regular.ttf');
}

body {
    background-size: cover;
    text-align: center;
    letter-spacing: 0.15em;
    word-spacing: .3em;
}

.main-div {
    font-family: myFont;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    background-image: url('images/1.jpg');
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-size: cover;
    text-shadow: 0px 0px 2px black;
    border-radius: 30px;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}


#btn1 {
    font-family: myFont;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: darkred;
    border: none;
    color: #ffffff;
    font-size: 200%;
    border-radius: 8px;
    width: 35%;
}

#btn1:hover {
    background-color: rgb(206, 3, 3);
}

#btn2 {
    font-family: myFont;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: darkred;
    border: none;
    color: #ffffff;
    font-size: 200%;
    border-radius: 8px;
    width: 35%;
}

#btn2:hover {
    background-color: rgb(206, 3, 3);
}

#btn3 {
    font-family: myFont;
    background-color: darkgreen;
    padding: 20px 0;    
    border: none;
    color: #ffffff;
    font-size: 100%;
    font-weight: bold;
    border-radius: 8px; 
    width: 20%;
    margin-top: 20px;     
}


#btn3:hover {
    background-color: rgb(23, 214, 23);           
}

p {
    font-size: 300%;
    color: #ffffff;
}

#welcome {
    background-color: aquamarine;
    margin: 0;
    color: darkgreen;
    font-size: 30px;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#count-people {
    font-family: cursive;
    font-size: 400%;
    color: rgb(23, 214, 23);
}

#entries {
    color: #ffffff;
    font-size: 120%;
}

#numericals {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#total {
    color: #ffffff;
    font-size: 180%;
}

#people {
    color: rgb(23, 214, 23);
    font-size: 180%;
}

#btn4 {
    font-family: myFont;
    background-color: darkgreen;
    padding: 10px;    
    border: none;
    color: #ffffff;
    border-radius: 8px;
    margin: 0 10px;   
}


#btn4:hover {
    background-color: rgb(23, 214, 23);           
}